@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
#logErrorMsg {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
    color: #8a0000;
    border: 4px outset #8a0000;
    background-color: rgb(236, 115, 115);
    opacity: 0;
}

#logErrorMsg-2ndL{
    display: block;
}
