@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";
  
#menu {
    display: none;
    position : relative;
    margin-top: -20px;
    background-color:#bce2e4;
  }

#buttonMenuBareNaviguation{
    background-color: #338cc5; 
    border-color: #338cc5;
  }

#imageButton{
    height: 100%; 
    width: 100%;
 }

#navBare{
    background-color: #338cc5
}